@inherits LayoutComponentBase

<PageTitle>EmployeeManagement.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 container-fluid">
            @Body
        </article>
    </main>
</div>
